@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
}

.pwebContainer {
	width: 20%;
	height: 70px;
	position: relative;
}

.pwebBlock {
	height: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.mainBlock {
/* 	position: relative; */
	width: 100%;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.mainHolder {
}

#sketcher {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftleftside {
	float: left;
	border-radius: 6px;
	width: 220px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftleftTitleBlock {
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #EBEDEF;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.leftleftTitleHolder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 30px;
    font-family: arial;
    color: #2C3E50;
}

.nameInputBlock {
	width: 100%;
	height: 100px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#nameInput {
	width: 90%;
	height: 40px;
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	text-align: center;
	outline-width:0px;
	border-radius: 6px;
	border: 2px solid #EBEDEF;
}

.leftside {
    float:left;
    border-radius:		6px;
/*     margin-left:		20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rightside {
    float:				left;
    margin-left:		20px;
    width:				220px;
    padding:			0px;
    border-radius:		6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.colorBlock1 {
	width:					50%;
	height:					80px;
/* 	background-color: 		#80A0D9; */
/* 	border-top:				1px solid #7DBFCE; */
/* 	border-left:			1px solid #7DBFCE; */
	float:					left;
	border-top-left-radius:	6px;
}

.colorBlock2 {
	width:						50%;
	height:						80px;
/* 	background-color: 			#D9B980; */
	float:						left;
	border-top-right-radius:	6px;
}

.slidecontainer {
  	width: 100%;
  	height: 50px;
  	float: left;
  	text-align: center;
  	position: relative;
  	box-sizing: border-box;
/*   	border-left: 1px solid #EBEDEF; */
/*   	border-right: 1px solid #EBEDEF; */
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 5px;
  border-radius: 5px;   
  background: #EBEDEF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: darkred;
  cursor: pointer;
}

#sketchpad {
    float:left;
    height: 550px;
    width:450px;
    margin-top: 50px;
/*     border:2px solid darkred; */
/*     border-radius:4px; */
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

.sizeShowerBlock {
	float: left;
	width: 100%;
	height: 75px;
	text-align: center;
}

#sizeShowerCanvas {
}

.readyBlock {
	float: left;
	width: 100%;
	height: 50px;
	display: table;
	vertical-align: middle;
}

#readyButton {
/* 	width: 100%; */
/* 	height: 100%; */
	border-bottom-right-radius:	6px;
	border-bottom-left-radius: 6px;
	border: 1px solid #EBEDEF;
	background: #EBEDEF;
	box-sizing: border-box;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	
    font-size: 30px;
    font-family: arial;
    color: #2C3E50;
    -webkit-appearance: none;
    cursor: pointer;
}

#loadCan {
	width: 450px;
	height: 50px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #EBEDEF;
	z-index: 1;
	position: absolute;
}

.wordHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
/* 	background: #D98880; */
}

.wordBlock {
	width: 450px;
	height: 50px;
	text-align: center;
	display: table;
	z-index: 2;
	position: absolute;
}

.nameBlock {
	float: left;
	height: 50px;
	width: 50%;
	text-align: center;
	display: table;
}

.nameHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-bottom-left-radius: 6px;
	background: #EBEDEF;
}

.timeBlock {
	float: left;
	height: 50px;
	width: 50%;
	text-align: center;
	display: table;
}

.timeHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-bottom-right-radius: 6px;
	background: #EBEDEF;
}

.rightrightside {
	float:left;
    border-radius:		6px;
    margin-left:		20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightTopBlock {
	width: 100%;
	height: 50px;
	background-color: #EBEDEF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
}

.rightBottomBlock {
	width: 100%;
	height: 50px;
	background-color: #EBEDEF;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
}

#redrawCan {
	height: 550px;
    width:450px;
}