@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
}

.mainBlock {
	width: 100%;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.pwebContainer {
	width: 20%;
	height: 70px;
	position: relative;
}

.pwebBlock {
	height: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.leftside {
    float:left;
    border-radius:		6px;
    margin-left:		20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loadCan {
	width: 450px;
	height: 50px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #EBEDEF;
	z-index: 1;
	position: absolute;
}

.wordBlock {
	width: 450px;
	height: 50px;
	text-align: center;
	display: table;
	z-index: 2;
	position: absolute;
}

.wordHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

#sketchpad {
    float:left;
    height: 550px;
    width:450px;
    margin-top: 50px;
    position:relative;
}

.nameBlock {
	float: left;
	height: 50px;
	width: 50%;
	text-align: center;
	display: table;
}

.nameHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-bottom-left-radius: 6px;
	background: #EBEDEF;
}

.timeBlock {
	float: left;
	height: 50px;
	width: 50%;
	text-align: center;
	display: table;
}

.timeHolder {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	display: table-cell;
	vertical-align: middle;
	border-bottom-right-radius: 6px;
	background: #EBEDEF;
}

.playerWordHolder {
	width: 400px;
	height: 50px;
	position: absolute;
	transform: translate(0, -50%);
	z-index: 2;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 6px;
}

.playerWordContainer {
	font-family: arial;
	font-size: 30px;
	color: #2C3E50;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

#playerWordHolder0 {
	top: 20%;
	left: 2%;
}

#playerWordHolder2 {
	top: 35%;
	left: 2%;
}

#playerWordHolder4 {
	top: 50%;
	left: 2%;
}

#playerWordHolder6 {
	top: 65%;
	left: 2%;
}

#playerWordHolder8 {
	top: 80%;
	left: 2%;
}

#playerWordHolder1 {
	top: 20%;
	right: 2%;
}

#playerWordHolder3 {
	top: 35%;
	right: 2%;
}

#playerWordHolder5 {
	top: 50%;
	right: 2%;
}

#playerWordHolder7 {
	top: 65%;
	right: 2%;
}